*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  color: white;
  background: black;
  text-shadow: none;
}
::-moz-selection {
  color: white;
  background: black;
  text-shadow: none;
}

html{
  background: #2c0;
  color: white;
  font-size: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
  line-height: 1.3em;
}

a {
  color: #f39;
  background: white;
  padding: .1em .4em;
  text-decoration: none;
}

a:focus,a:active,a:hover{
  outline: 0;
  color: white;
  background: #f39;
  text-decoration: none;
  outline: white thin dotted;
}

h1 {
  font-size: 1.5em;
  margin: .6em 0;
}

p{
  font-size: .8em;
  margin: .4em 0;
}

header{
  display: block;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 20rem;
  margin-left: -10rem;
  padding: 1em 2em;
  background: #2c0;
  z-index: 1000;
}

@media (max-width: 20em) {
  header{
    left: 0;
    margin: 0;
  }
}

footer{
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em 2em;
  z-index: 1000;
}

.canvas{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

.loading{
  display: none;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}
